<section class="footer">

  <div class="credit" style="background-color: rgba(0, 0, 0, 0.974); color: #fff; padding: 10px; border: 1px solid #ccc; display: inline-block; border-radius: 5px; margin: 10px 0;">Created by  <span style="font-weight: bold; color:white">Challa Sathwik</span> | Copyright 2023 all rights reserved.</div>


  <div class="icons-container">


     <div class="icons">
        <i class="fas fa-phone"></i>
           <h3>Phone</h3>
           <p>+91-7995905078</p>

     </div>

     <div class="icons">
        <i class="fas fa-envelope"></i>
           <h3>email</h3>
           <p>sathwikchalla5@gmail.com</p>

     </div>

     <div class="icons">
        <i class="fas fa-map"></i>
           <h3>Address</h3>
           <p>Garla, Telangana,India</p>
     </div>

  </div>


</section>
