<section id="features">
  <h1 style="font-size:32px;">
    <span style="color: black;">Courses</span>
    <span style="color: #f93;"> We Offer</span>
  </h1>

  <p>Here are our  wide variety of diverse courses to cater to the unique interests and career aspirations of our students</p>

  <div class="fea-base">
    <div class="fea-box" id="fea-box-1">
      <i class="fas fa-graduation-cap"></i>
      <h3>Bachelor of Technology - B.Tech</h3>
      <p>
        We have various branches within the field B.Tech, offering students the opportunity to delve into various disciplines such as Computer Science and Engineering (CSE), Electronics and Communication Engineering (ECE), Civil Engineering, Electrical and Electronics Engineering (EEE), and Mechanical Engineering
      </p>
    </div>

    <div class="fea-box" id="fea-box-2">
      <i class="fa-solid fa-book-bookmark"></i>
      <h3>Polytechnic</h3>
      <p>
        In the realm of Polytechnic, we provide a multitude of courses, affording students the chance to explore diverse domains including Computer Science and Engineering (CSE), Electronics and Communication Engineering (ECE), Civil Engineering, Electrical and Electronics Engineering (EEE), and Mechanical Engineering
      </p>
    </div>

    <div class="fea-box" id="fea-box-3">
      <i class="fas fa-award"></i>
      <h3>Master of Business - MBA</h3>
      <p>
        Within our MBA program offerings, we present a wide array of courses, granting students the opportunity to delve into various domains such as Finance, Marketing, Operations Management, Human Resources and Entrepreneurship in the world of business education,
      </p>
    </div>
    </div>
</section>
