<div class="box1">
  <div class="centered-text">
    <h2>Placements<span style="color: #f93"> in 2023</span></h2>
  </div>
   <div class="box1a"><img src="assets\WhatsApp Image 2023-06-03 at 9.15.53 AM.jpeg" id="img25"alt=""></div>
   <div class="box1a"><img src="assets\WhatsApp Image 2023-06-03 at 8.51.20 AM (1).jpeg" id="img26"alt=""></div>
   <div class="box1a"><img src="assets\WhatsApp Image 2023-06-03 at 8.51.20 AM.jpeg" id="img27"alt=""></div>
   <div class="box1a"><img src="assets\WhatsApp Image 2023-06-03 at 9.35.18 AM.jpeg" id="img28"alt=""></div>
   <div class="box1a"><img src="assets\WhatsApp Image 2023-06-03 at 9.22.57 AM (1).jpeg" id="img25"alt=""></div>
   <div class="box1a"><img src="assets\WhatsApp Image 2023-06-03 at 9.35.18 AM (1).jpeg" id="img26"alt=""></div>
   <div class="box1a"><img src="assets\WhatsApp Image 2023-06-03 at 9.12.52 AM.jpeg" id="img27"alt=""></div>
   <div class="box1a"><img src="assets\WhatsApp Image 2023-06-03 at 9.22.57 AM.jpeg" id="img28"alt=""></div>
</div>
<section class="testimony centered-text">
  <h2>What does our<span style="color: #f93">  Student say </span></h2>
  <p>Our best outgoing student of the academic year 2023 named Challa Sathwik responds to this and expresses his genuine opinion about our college</p>
</section>

<section class="testimonial-section">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <img class="man" src="assets\WhatsApp Image 2023-08-16 at 8.32.37 AM (1)-modified.png" alt="">
          </div>
          <div class="col-md-6">
              <div class="card text-center">
                  <div class="card-body">
                      <h5 class="card-title">My Testimony</h5>
                      <p class="card-text">"Studying at SBIT helped me secure a job and shape my career path.Studying at Sbit has been truly wonderful, enriching my knowledge and skills "</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="awards">
  <div class="box2">
    <h2 id="centered-heading">Awards & <span style="color: #f93">Recognization</span></h2>
    <div class="box2a"><img src="assets\1482123271eve1.avif" id="img25" alt=""></div>
    <div class="box2a"><img src="assets\gallery_2234_gallery_5432.webp" id="img26" alt=""></div>
    <div class="box2a"><img src="assets\WhatsApp Image 2023-06-03 at 7.17.18 PM.jpeg" id="img27" alt=""></div>
    <div class="box2a"><img src="assets\sbit1.jpeg" id="img28" alt=""></div>
  </div>
</section>

<section class="management padding-lg">
  <div class="container">
    <h2 class="management-heading">Statutory Authorities</h2>
    <div class="row management-list">
      <div class="col-md-4">
        <div class="inner">
          <figure>
            <img src="assets\Sri G. Krishna.jpg" id="img1" class="img-responsive custom-img" alt="Sri G.Krishna">
            <figcaption>
              <div class="cnt-block">
                <h3 class="management-name">Sri G.Krishna</h3>
                <span class="management-title">Founder, Chairman</span>
                <div class="bottom-block"></div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner">
          <figure>
            <img src="assets\download (6).jpeg" id="img2" class="img-responsive" alt="Dr.Raj Kumar">
            <figcaption>
              <div class="cnt-block">
                <h3 class="management-name">Dr.Raj Kumar</h3>
                <span class="management-title">Principal</span>
                <div class="bottom-block"></div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner">
          <figure>
            <img src="assets\Prof. S. Pullaiah.jpg" id="img3" class="img-responsive custom-img" alt="Prof. S. Pullaiah">
            <figcaption>
              <div class="cnt-block">
                <h3 class="management-name">Prof. S. Pullaiah</h3>
                <span class="management-title">Honorary Chairman</span>
                <div class="bottom-block"></div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<h2 class="centered-heading">Latest<span style="color: #f93"> news about Sbit</span></h2>

<section class="clearfix profile-quote section brown bac scroll" style="background-color: #FFF;">

      <div class="container">
          <div class="view view-front-page-events-block view-id-front page events block view-display-id-block-5 view-dom-id-d2d6b1cec3dcb13f0a50513b4c776709">
              <div class="view-content">
                  <div class="section row infocus block" id="news_new">


                      <div class="slide nav top" style="background-color: #FFF; display: flex; flex-wrap: wrap;">
                          <div class="text" style="width: 50%;">
                              <div class="col-xs-12" id="with_cont">
                                  <div class="inf slide hover circle bord_l1">
                                      <img src="assets\WhatsApp Image 2023-06-06 at 11.12.47 PM.jpeg" class="newspaper image" alt="Rivera-2023-Day-4" title="Rivera-2023-Day-4" style="max-width: 100%; height: auto;">
                                  </div>
                              </div>
                          </div>
                          <div class="text" style="width: 50%;">
                              <div class="col-xs-12" id="with_cont">
                                  <div class="inf slide hover circle bord_1">
                                      <img src="assets\WhatsApp Image 2022-11-17 at 11.33.14 PM (1).jpeg" class="newspaper_image" alt="Rivera-2023-Day-3" title="Rivera-2023-Day-3" style="max-width: 100%; height: auto;">
                                  </div>
                              </div>
                          </div>
                          <div class="text" style="width: 50%;">
                              <div class="col-xs-12" id="with_cont">
                                  <div class="inf slide hover circle bord_1">
                                      <img src="assets\WhatsApp Image 2023-02-20 at 9.04.29 PM.jpeg" class="newspaper_image" alt="Rivera-2023-Day-2" title="Rivera-2023-Day-2" style="max-width: 100%; height: auto;">
                                  </div>
                              </div>
                          </div>
                          <div class="text" style="width: 50%;">
                              <div class="col-xs-12" id="with_cont">
                                  <div class="inf slide hover circle bord_1">
                                      <img src="assets\WhatsApp Image 2023-02-26 at 4.50.38 PM.jpeg" class="newspaper_image" alt="Rivera-2023-Day-1" title="Rivera-2023-Day-1" style="max-width: 100%; height: auto;">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>








