<div class="content-container">
  <div class="text-content">
    <h1>WELCOME TO SBIT</h1>
    <h2 >Swarna Bharathi Institute of Science and Technology</h2>
    <p class="font-size: 18px;">
    Swarna Bharathi Institute of Science & Technology (SBIT), sponsored by Sri Swarna Bharathi Educational Society, has successfully provided 17 years of quality technical education. With a dedicated and benevolent management, the institution aims to integrate science and technology for the benefit of students. It strives to prepare highly qualified and well-trained professionals to meet market demands. SBIT has quickly established itself as a renowned institution, known for its practical knowledge and innovative ideas. It is highly respected in the field of technical education, both in the District of Khammam and the State of Telangana.</p>
  </div>
  <div class="studentimage">
    <img src="assets\university-student.webp" class="student">
  </div>
</div>







