.navbar
{
  background-color: rgba(255, 0, 102, 0.886);
  overflow: hidden;
  text-align: center;
  font-size: 22px;
}

.navbar a
{
  display: inline-block;
  color: rgb(245, 236, 236);
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a:hover
{
  background-color:rgb(18, 13, 13);
  color: rgb(241, 241, 19);
}
.navbar a:first-child::before
 {
  content: "Click to navigate \2192 ";
  margin-right: 5px;
  font-weight: bold;
  font-size: 24px;
  color: rgb(239, 239, 234);
}










